<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dshinde.myapplication_xmlpref">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize">
        <activity android:name=".DynamicLinearLayoutActivity"></activity>
        <activity android:name=".ScreenDesignActivity"></activity>
        <activity
            android:name=".ScrollingTextViewActivity"
            android:label="@string/title_scrolling_textview_activity"></activity>
        <activity android:name=".DialogActivity" />
        <activity android:name=".launcher.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.GoogleSignInActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2" />
        <activity
            android:name=".SellTeaActivity"
            android:label="@string/sellTea" />
        <activity
            android:name=".CafeSettingsActivity"
            android:label="@string/cafeSettings" />
        <activity
            android:name=".ShabdaKoshActivity"
            android:label="@string/shabdaKosh" />
    </application>

</manifest>