<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".MyNotesApplication"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize">
        <activity
            android:name=".activities.PhotoGalleryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_photo_gallary"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".activities.drawables.DrawableActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"></activity>
        <activity
            android:name=".launcher.SignInActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".activities.PdfViewActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DynamicLinearLayoutActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".activities.DataAnalyticActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".activities.RelationshipActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".activities.listviewbased.ScreenDesignActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".activities.recyclerviewbased.ScreenDesignActivityRecyclerView"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".activities.ScrollingTextViewActivity"
            android:exported="true"
            android:label="@string/title_scrolling_textview_activity" />
        <activity
            android:name=".activities.AudioVideoActivity"
            android:exported="true"
            android:label="Audio Note"></activity>
        <activity
            android:name=".activities.GraphViewActivity"
            android:exported="true"
            android:label="Graph" />
        <activity
            android:name=".activities.DialogActivity"
            android:exported="true" /> <!-- Launcher Activity -->
        <activity
            android:name=".auth.GoogleSignInActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".launcher.BiometricSignIn"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <!--
        <activity
            android:name=".auth.GoogleSignInActivity"
            android:configChanges="orientation|screenSize" />
        -->
        <activity
            android:name=".activities.listviewbased.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".activities.recyclerviewbased.PicklistActivityRecyclerView"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".activities.recyclerviewbased.MainActivityRecyclerView"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".activities.recyclerviewbased.Main2ActivityRecyclerView"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".activities.listviewbased.Main2Activity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/title_activity_main2" />
        <activity
            android:name=".activities.listviewbased.ShabdaKoshActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/shabdaKosh" />
        <activity
            android:name=".activities.MediaViewActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".activities.PhotoViewActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".activities.RandomButtonActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/Base.Theme.AppCompat" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.dshinde.fileprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".services.BackupBackgroundService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>